# Email configuration.
INVENIO_ADMIN_EMAIL=
INVENIO_ADMIN_PASSWORD=
INVENIO_MAIL_DEFAULT_SENDER=
INVENIO_SECURITY_EMAIL_SENDER=
INVENIO_APP_RDM_ADMIN_EMAIL_RECIPIENT=
INVENIO_MAIL_SUPPRESS_SEND=False
INVENIO_MAIL_SERVER=
INVENIO_MAIL_USERNAME=
INVENIO_MAIL_PASSWORD=

# S3 compatible storage backend.
INVENIO_S3_ENDPOINT_URL=
INVENIO_S3_BUCKET_NAME=
INVENIO_S3_ACCESS_KEY_ID=
INVENIO_S3_SECRET_ACCESS_KEY=

# OIDC configuration.
INVENIO_OIDC_ISSUER=
INVENIO_OIDC_APP_CREDENTIALS_CONSUMER_KEY=
INVENIO_OIDC_APP_CREDENTIALS_CONSUMER_SECRET=
# When using OIDC, local login should be disabled.
INVENIO_ACCOUNTS_LOCAL_LOGIN_ENABLED=False
INVENIO_SECURITY_CHANGEABLE=False
INVENIO_SECURITY_RECOVERABLE=False
