[project]
name = "invenio-rdm-starter"
version = "0.5.0"
description = "Starter for the turn-key research data management repository"
authors = [
    { name = "Martin Fenner", email = "martin@front-matter.io" }
]
readme = "README.md"
requires-python = ">=3.12"
license = "MIT"
dependencies = [
    "invenio-app-rdm~=12.0.10",
    "invenio-rdm-records~=10.8.6",
    "invenio-records-resources~=5.10.0",
    "invenio-search[opensearch2]~=2.4.1",
    "invenio-s3~=1.0.0",
    "idutils~=1.4.0",
    "babel-edtf~=1.2.0",
    "importlib-metadata~=6.11.0",
    "gunicorn~=22.0.0",
    "ruff>=0.9.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
line-length = 79
include = ["pyproject.toml", "src/**/*.py"]
