[project]
name = "invenio-rdm-starter"
version = "12.0.13"
description = "Starter for the turn-key research data management repository"
authors = [
    { name = "Martin Fenner", email = "martin@front-matter.io" }
]
readme = "README.md"
requires-python = ">=3.12"
license = "MIT"
dependencies = [
    "invenio-app-rdm~=12.0.13",
    "invenio-search[opensearch2]~=2.4.1",
    "invenio-s3~=1.0.7",
    "gunicorn~=22.0.0",
    "ruff>=0.9.0",
    "commonmeta-py>=0.8.6",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
line-length = 79
include = ["pyproject.toml", "src/**/*.py"]
