[data-md-color-scheme="starter-light"] {
  --md-typeset-a-color: #b91c1c;
  --md-primary-fg-color:        #b91c1c;
  --md-primary-fg-color--light: #fecaca;
  --md-primary-fg-color--dark:  #7f1d1d;
  --md-accent-fg-color:         #b91c1c;
  --md-footer-bg-color: #475569;
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #b91c1c;
  --md-primary-fg-color:        #7f1d1d;
  --md-primary-fg-color--light: #fecaca;
  --md-primary-fg-color--dark:  #7f1d1d;
  --md-accent-fg-color:         #b91c1c;
  --md-footer-bg-color: #475569;
}
