{
	auto_https off
	log {
		level ERROR
	}
}
:8080 {
	# issue Let's Encrypt certificate with DNS challenge on DigitalOcean
	# tls {
	# 	dns digitalocean {env.DO_TOKEN}
	# }

	# redirect Rogue Scholar legacy URLs
	@posts path /posts/* /en/posts/* /de/posts/* /es/posts/* /fr/posts/* /it/posts/* /pt/posts/* /tr/posts/*
	@about path /about /en/about /de/about /es/about /fr/about /it/about /pt/about /tr/about
	@board path /board /en/board /de/board /es/board /fr/board /it/board /pt/board /tr/board
	redir @posts https://legacy.rogue-scholar.org{uri}
	redir @about https://legacy.rogue-scholar.org{uri}
	redir @board https://legacy.rogue-scholar.org{uri}

	uri replace /en /
	uri replace /de /
	uri replace /es /
	uri replace /fr /
	uri replace /it /
	uri replace /pt /
	uri replace /tr /

	handle /blogs/syldavia_gazette* {
		uri path_regexp /blogs/syldavia_gazette /communities/syldavia_gazette/records

		uri query {
			query>q
			page>p
			-category
			-generator
			-language
		}

		# header fly-replay "app=invenio-rdm-starter"

		reverse_proxy 2a09:8280:1::39:a377:0 {
			header_up Host beta.rogue-scholar.org
		}
	}

	handle /blogs* {
		handle /blogs/* {
			uri path_regexp /blogs/([^/]+) /communities/$1/records
		}
		handle {
			uri replace /blogs /communities/search
		}

		uri query {
			query>q
			page>p
			-category
			-generator
			-language
		}

		reverse_proxy invenio-rdm-starter.flycast {
			header_up Host beta.rogue-scholar.org
		}
	}

	handle {
		handle /posts {
			uri replace /posts /
		}
		uri replace / /search
		uri query {
			query>q
			tags>f
			page>p
			-category
			-generator
			-language
			f (\D+) subject:$1
		}

		reverse_proxy invenio-rdm-starter.flycast {
			header_up Host beta.rogue-scholar.org
		}
	}
}
