# fly.toml app configuration file generated for rogue-scholar-caddy on 2024-11-03T11:26:41+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rogue-scholar-caddy'
primary_region = 'ams'

[build]
  image = 'caddy:2.8.4'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
